parameters:
    trace_id_header_field: 'X-Trace-Id'
    trace_id_log_field: 'trace-id'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    esome\TraceIdBundle\Services\TraceIdProvider:
        lazy: true
        arguments:
            - "%trace_id_header_field%"

    esome\TraceIdBundle\EventListener\TraceIdTagLogInjector:
        lazy: true
        arguments:
            - "%trace_id_log_field%"
        tags:
            - { name: monolog.processor, method: processRecord }

    esome\TraceIdBundle\EventListener\TraceIdTagResponseHeaderInjector:
        lazy: true
        arguments:
            - "%trace_id_header_field%"
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse }

    esome\TraceIdBundle\Client\TraceableHttpClient:
        arguments:
            $httpClient: '@.inner'
            $traceIdProvider: '@esome\TraceIdBundle\Services\TraceIdProvider'
        decorates: 'http_client'